.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 16px;
  max-width: 380px;
  margin: 5px auto;
}

.title {
  font-size: 38px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 10px;
}
